z-score: Used when the population standard deviation is known or whenthe  sample size is large (typically, n≥30) even if the population standard deviation is unknown.
t-student: Uesd when sample size is small, or the population standard deviation is unknown.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:nedamomen%40241292@127.0.0.1:3306/gsmarena')
connection = engine.connect()

In [12]:
q=""" 
select brands.name Brand, Year(year_of_release) Year, price Price
from devices
left join brands
on brands.id = devices.brand_id
where price != 0
"""
df= pd.read_sql_query(q, connection)

df

        Brand  Year   Price
0       Apple  2023  1299.0
1       Apple  2023  1069.0
2       Apple  2023   959.0
3       Apple  2023   826.0
4       Apple  2023    63.0
...       ...   ...     ...
3442  Samsung  2010   170.0
3443  Samsung  2010   150.0
3444  Samsung  2010    90.0
3445  Samsung  2010   120.0
3446  Samsung  2010   110.0

[3447 rows x 3 columns]

In [13]:
brands = ['Apple', 'Samsung', 'Huawei', 'Xiaomi', 'Nokia']
df_2023 = df[(df['Year'] == 2023) & (df.Brand.isin(brands))]
sample_sizes = df_2023.groupby('Brand')['Price'].size()

In [14]:
print(df_2023.shape)
sample_sizes

(136, 3)

Brand
Apple       7
Huawei     28
Nokia      19
Samsung    31
Xiaomi     51
Name: Price, dtype: int64

In [15]:
mean_prices = df_2023.groupby('Brand')['Price'].mean()

std_devs = df_2023.groupby('Brand')['Price'].std()

# 98% confidence interval
alpha = 0.02  
conf_intervals = {}

for brand in mean_prices.index:
    mean = mean_prices[brand]
    std_dev = std_devs[brand]
    n = sample_sizes[brand]
    if n >= 30:
        se = std_dev / np.sqrt(n)
        z_critical = stats.norm.ppf(1 - alpha / 2)
        margin_of_error = z_critical * se
    #t-distribution for smaller sample sizes
    else:
        se = std_dev / np.sqrt(n)
        t_critical = stats.t.ppf(1 - alpha / 2, df=n-1)
        margin_of_error = t_critical * se

    lower_bound = max(0, mean - margin_of_error)
    upper_bound = mean + margin_of_error
    conf_intervals[brand] = (lower_bound, upper_bound)

print("Average Prices and 98% Confidence Intervals for 2023:")
for brand in mean_prices.index:
    print(f"{brand}: Average Price = {mean_prices[brand]:.2f}, 98% CI = {conf_intervals[brand]}")

Average Prices and 98% Confidence Intervals for 2023:
Apple: Average Price = 763.43, 98% CI = (267.24708178016493, 1259.610061076978)
Huawei: Average Price = 724.43, 98% CI = (332.8419316812065, 1116.0152111759364)
Nokia: Average Price = 110.68, 98% CI = (51.67620518746696, 169.69221586516463)
Samsung: Average Price = 417.13, 98% CI = (269.14206853264096, 565.1159959834881)
Xiaomi: Average Price = 279.51, 98% CI = (211.01897626880682, 348.00063157433044)

***Instruction of the question seems not to be quite well defined. If the CI for the products is asked, then CI is valid for ALL products, not only for the phones. It is still valid for tablet, watch, etc

If the average price of the phone is desired, then the average price for ALL products should not be posed. It should be only the price for the phones.***

In [7]:
connection.close()