z-score: Used when the population standard deviation is known or when the sample size is large (typically, n≥30) even if the population standard deviation is unknown. The Z-score is based on the standard normal distribution.

In [4]:
import numpy as np
import pandas as pd
from scipy import stats
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:nedamomen%40241292@127.0.0.1:3306/gsmarena')
connection = engine.connect()

In [5]:
q=""" 
select brands.name Brand, Year(year_of_release) Year, price Price
from devices
left join brands
on brands.id = devices.brand_id
"""
df= pd.read_sql_query(q, connection)

df

        Brand  Year   Price
0       Apple  2023  1299.0
1       Apple  2023  1069.0
2       Apple  2023   959.0
3       Apple  2023   826.0
4       Apple  2023    63.0
...       ...   ...     ...
3703  Samsung  2010   170.0
3704  Samsung  2010   150.0
3705  Samsung  2010    90.0
3706  Samsung  2010   120.0
3707  Samsung  2010   110.0

[3708 rows x 3 columns]

In [6]:
brands = ['Apple', 'Samsung', 'Huawei', 'Xiaomi', 'Nokia']
df_2023 = df[(df['Year'] == 2023) & (df.Brand.isin(brands))]

mean_prices = df_2023.groupby('Brand')['Price'].mean()

std_devs = df_2023.groupby('Brand')['Price'].std()
sample_sizes = df_2023.groupby('Brand')['Price'].count()

# 98% confidence interval
alpha = 0.02  
conf_intervals = {}

for brand in mean_prices.index:
    mean = mean_prices[brand]
    std_dev = std_devs[brand]
    ci = stats.norm.interval(1-alpha, loc=mean, scale=std_dev)
    conf_intervals[brand] = ci


print("Average Prices and 98% Confidence Intervals for 2023:")
for brand in mean_prices.index:
    print(f"{brand}: Average Price = {mean_prices[brand]:.2f}, 98% CI = {conf_intervals[brand]}")

Average Prices and 98% Confidence Intervals for 2023:
Apple: Average Price = 763.43, 98% CI = (-208.34632898446046, 1735.2034718416035)
Huawei: Average Price = 676.13, 98% CI = (-1252.8970052927552, 2605.163671959422)
Nokia: Average Price = 105.15, 98% CI = (-130.18152547571694, 340.4815254757169)
Samsung: Average Price = 404.09, 98% CI = (-424.41747438573293, 1232.604974385733)
Xiaomi: Average Price = 279.51, 98% CI = (-209.6125397722932, 768.6321476154304)

***Instruction of the question seems not to be quite well defined. If the CI for the products is asked, then CI is valid for ALL products, not only for the phones. It is still valid for tablet, watch, etc

If the average price of the phone is desired, then the average price for ALL products should not be posed. It should be only the price for the phones.***

In [7]:
connection.close()